name: Build and deploy Flutter Web 

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./Frontend/unishare_web

    steps:
      - uses: actions/checkout@v4

      # 1. Instalează Flutter
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      # 2. Instalează dependențele Flutter
      - name: Install Flutter dependencies
        run: flutter pub get

      # 3. Creează fișierul .env
      - name: Create .env file
        run: |
          echo "API_BASE_URL=${{ secrets.API_BASE_URL }}" > .env

      # 4. Construiește aplicația Web
      - name: Build Flutter Web
        run: flutter build web --release

      # 5. Pregătește Node.js
      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          # Important pentru caching corect în subfolder 
          cache: 'npm'
          cache-dependency-path: './Frontend/unishare_web/package-lock.json'

      - name: Install Node dependencies
        run: npm install

      # 6. Arhivează DOAR folderul proiectului tău
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          # Aici specificăm calea exactă către folderul tău
          path: ./Frontend/unishare_web

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'uni-share-frontend'
          slot-name: 'Production'
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_B22AAE6D0D514046BEC80F94EEFD54CE }}
