name: Build and deploy ASP.Net Core app to Azure Web App - uni-share

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Build with dotnet
        run: dotnet build --configuration Release
        working-directory: ./Backend

      # 1. Facem Publish intr-un folder numit "published_app"
      - name: dotnet publish
        run: dotnet publish -c Release -o published_app
        working-directory: ./Backend

      # 2. Cream fisierul .env in folderul publicat (ca sa fie luat in arhiva)
      - name: Create .env file
        working-directory: ./Backend
        run: |
          echo "API_FRONTEND_URL=${{ secrets.API_FRONTEND_URL }}" > published_app/.env

      # 3. Incarcam folderul "published_app" care acum contine si DLL-urile si .env-ul
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ./Backend/published_app

  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'uni-share'
          slot-name: 'Production'
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_5982BD1F81534EA189B38F38DD04FB21 }}
